body {
    margin: 0;
}

.corpo_principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}

.lista_principal {
    background: #000000;
    font-family: 'Mulish', sans-serif;
    padding: 1rem;
    min-width: 400px;
    min-height: 300px;
}

.titulo_principal {
    border-bottom: 1px solid #7FFF00;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Mulish', sans-serif;
    color:#7FFF00;
}

.formulario {
    display: flex;
    justify-content: center;
}

.input_principal, .btn_principal {
    border-radius: 0;
    padding: 0.75rem;
    font-size: 0.75rem;
}

.input_principal {
    outline: none;
    background-color:rgb(255, 251, 251);
    border-color: #7FFF00;
}

.btn_principal {
  border: 1px;
  background: #7FFF00;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 0.25rem;  
}

.btn_principal:hover {
    color: #000000;
    background: #FFFF00;
    transition: 1.5s;
}

.lista_principal {
    padding: 0;
    list-style: none;
    width: 100%;
}

.nova_tarefa {
    background-color: #000000;
    color: beige;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0,5rem;
    padding: 1rem 3rem;
}

.btn_check, .btn_deleta {
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0 0 8px #000000;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

.nova_tarefa.done .btn_check {
    background-color: darkgrey;
    color:rgb(255, 251, 251);
}

.nova_tarefa.done, .check-icon {
    background-color: #000000;
}

.conteudo {
    margin: 0;
}

.nova_tarefa.done .conteudo {
    text-decoration: line-through;
}
